PigmentToAzure/pipeline/CSV Work Around.json
{
	"name": "CSV Work Around",
	"properties": {
		"activities": [
			{
				"name": "GetAPIKey",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://pigment.vault.azure.net/secrets/PigmentExportKey/4a4cc9da99ac466da289356d29a20dab?api-version=7.0",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set Export API Key",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetAPIKey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "PigmentExportKey",
					"value": {
						"value": "@activity('GetAPIKey').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LoadPigmentCSVToADLSv2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Export API Key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET",
							"additionalHeaders": {
								"value": "@{concat('x-pigment-api-key: ',variables('PigmentExportKey'))}",
								"type": "Expression"
							},
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "PigmentExport",
						"type": "DatasetReference",
						"parameters": {
							"application_id": "eb17a15b-f454-4355-8eb7-80a3afa15913",
							"list_view_id": "0e7c65be-fae2-4306-b9f4-f3a3fa3a56aa"
						}
					}
				]
			}
		],
		"variables": {
			"PigmentExportKey": {
				"type": "String"
			}
		},
		"annotations": []
	}
}