PigmentToAzure/pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "GetAPIKey",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://pigment.vault.azure.net/secrets/PigmentExportKey/4a4cc9da99ac466da289356d29a20dab",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set Export API Key",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetAPIKey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "PigmentExportKey",
					"value": {
						"value": "@activity('GetAPIKey').output",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LoadPigmentCSV",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Export API Key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"X-Pigment-Api-Key": {
								"value": "@variables('PigmentExportKey')",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "PigmentExportAPI",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CSV",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"PigmentExportKey": {
				"type": "String"
			}
		},
		"annotations": []
	}
}