datafactory/pigment-to-adlsv2/src/templates/Pigment to ADLS Gen2/Pigment to ADLS Gen2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"PigmentExportAPI": {
			"type": "string"
		},
		"AzureDataLakeStorage": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Pigment to ADLSv2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetPigmentAPIKey",
						"description": "Calls Azure Key Vault to grab the stored Pigment Export API key.",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat(pipeline().parameters.SecretIdentifierURL,'?api-version=7.0')",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "SetExportAPIKey",
						"description": "Sets the result of the previous stage (GetPigmentAPIKey) into a variable (PigmentExportKey) to use in the next step (LoadCSVToADLS).",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetPigmentAPIKey",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "PigmentExportKey",
							"value": {
								"value": "@activity('GetPigmentAPIKey').output.value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "LoadCSVToADLS",
						"description": "Grabs an Export from Pigment's API using a specified view ID. Sends the resulting CSV file to the specified ADLS/Blob storage location.",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetExportAPIKey",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET",
									"additionalHeaders": {
										"value": "@{concat('Authorization: Bearer ',variables('PigmentExportKey'))}",
										"type": "Expression"
									},
									"requestTimeout": ""
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PigmentExport",
								"type": "DatasetReference",
								"parameters": {
									"viewId": {
										"value": "@pipeline().parameters.PigmentViewId",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ADLSGen2",
								"type": "DatasetReference",
								"parameters": {
									"FileSystem": {
										"value": "@pipeline().parameters.ADLSFileSystem",
										"type": "Expression"
									},
									"Directory": {
										"value": "@pipeline().parameters.ADLSDirectory",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"SecretIdentifierURL": {
						"type": "string"
					},
					"PigmentViewId": {
						"type": "string"
					},
					"ADLSFileSystem": {
						"type": "String"
					},
					"ADLSDirectory": {
						"type": "String"
					}
				},
				"variables": {
					"PigmentExportKey": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PigmentExport')]",
				"[concat(variables('factoryId'), '/datasets/ADLSGen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PigmentExport')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('PigmentExportAPI')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"viewId": {
						"type": "string",
						"defaultValue": "0e7c65be-fae2-4306-b9f4-f3a3fa3a56aa"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "dataset().viewId",
							"type": "Expression"
						}
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLSGen2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureDataLakeStorage')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileSystem": {
						"type": "String"
					},
					"Directory": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat('PigmentExport+',utcnow(),'.csv')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().FileSystem",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().FileSystem",
							"type": "Expression"
						}
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"dependsOn": []
		}
	]
}