datafactory/pigment-to-adlsv2/src/pipeline/Pigment to ADLSv2.json
{
	"name": "Pigment to ADLSv2",
	"properties": {
		"activities": [
			{
				"name": "GetPigmentAPIKey",
				"description": "Calls Azure Key Vault to grab the stored Pigment Export API key.",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().parameters.SecretIdentifierURL,'?api-version=7.0')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "SetExportAPIKey",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetPigmentAPIKey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "PigmentExportKey",
					"value": {
						"value": "@activity('GetPigmentAPIKey').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LoadPigmentCSVToADLSv2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetExportAPIKey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET",
							"additionalHeaders": {
								"value": "@{concat('x-pigment-api-key: ',variables('PigmentExportKey'))}",
								"type": "Expression"
							},
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "PigmentExport",
						"type": "DatasetReference",
						"parameters": {
							"application_id": "eb17a15b-f454-4355-8eb7-80a3afa15913",
							"list_view_id": "0e7c65be-fae2-4306-b9f4-f3a3fa3a56aa"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "CSVBlobStore",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"SecretIdentifierURL": {
				"type": "string"
			}
		},
		"variables": {
			"PigmentExportKey": {
				"type": "String"
			}
		},
		"annotations": []
	}
}