datafactory/pigment-to-sfdc/templates/Upsert From Pigment To Salesforce Opportunity/Upsert From Pigment To Salesforce Opportunity.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"PigmentExport": {
			"type": "string"
		},
		"Salesforce": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Upsert From Pigment To Salesforce Opportunity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetPigmentAPIKey",
						"description": "Calls Azure Key Vault to grab the stored Pigment Export API key.",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat(pipeline().parameters.SecretIdentifierURL,'?api-version=7.0')",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "SetAPIKey",
						"description": "Sets the result of the previous stage (GetPigmentAPIKey) into a variable (PigmentExportKey) to use in the next step (UpdateSalesforce).",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "GetPigmentAPIKey",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": true,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "PigmentExportKey",
							"value": {
								"value": "@activity('GetPigmentAPIKey').output.value",
								"type": "Expression"
							}
						}
					},
					{
						"name": "UpdateSalesforce",
						"description": "Grabs an Export from Pigment's API using a specified view ID. Maps the columns in that Export to Salesforce fields. \nIf the Export_ID matches, the function updates the SFDC record. If there is no match, a new record is created instead.",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetAPIKey",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": true
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET",
									"additionalHeaders": {
										"value": "@{concat('Authorization: Bearer ',variables('PigmentExportKey'))}",
										"type": "Expression"
									},
									"requestTimeout": ""
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SalesforceSink",
								"writeBatchSize": 5000,
								"writeBehavior": "upsert",
								"externalIdFieldName": {
									"value": "@{pipeline().parameters.SFDCExternalID}",
									"type": "Expression"
								},
								"ignoreNullValues": true
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "External_ID",
											"type": "String"
										},
										"sink": {
											"name": "External_ID__c"
										}
									},
									{
										"source": {
											"name": "Opportunity_Name",
											"type": "String"
										},
										"sink": {
											"name": "Name"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PigmentCSV",
								"type": "DatasetReference",
								"parameters": {
									"ViewId": {
										"value": "@pipeline().parameters.PigmentViewId",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SalesforceOpportunity",
								"type": "DatasetReference",
								"parameters": {
									"SFDCUsername": {
										"value": "@pipeline().parameters.SFDCUsername",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"PigmentViewId": {
						"type": "string"
					},
					"SFDCUsername": {
						"type": "string"
					},
					"SecretIdentifierURL": {
						"type": "string"
					},
					"SFDCExternalID": {
						"type": "string"
					}
				},
				"variables": {
					"PigmentExportKey": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PigmentCSV')]",
				"[concat(variables('factoryId'), '/datasets/SalesforceOpportunity')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PigmentCSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('PigmentExport')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ViewId": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@dataset().ViewId",
							"type": "Expression"
						}
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "External_ID",
						"type": "String"
					},
					{
						"name": "Opportunity_Name",
						"type": "String"
					},
					{
						"name": "Account_Name",
						"type": "String"
					},
					{
						"name": "Amount",
						"type": "String"
					},
					{
						"name": "Stage",
						"type": "String"
					},
					{
						"name": "Expected_Revenue",
						"type": "String"
					},
					{
						"name": "Type",
						"type": "String"
					},
					{
						"name": "Opportunity_Owner",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesforceOpportunity')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('Salesforce')]",
					"type": "LinkedServiceReference",
					"parameters": {
						"SFDCUsername": {
							"value": "@dataset().SFDCUsername",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"SFDCUsername": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "SalesforceObject",
				"schema": [],
				"typeProperties": {
					"objectApiName": "Opportunity"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"dependsOn": []
		}
	]
}